In [29]:
# Entrega 1 – Exploración de Datos
#Competencia AI4Eng 2025
#Integrante: Liset Pérez
#Programa: Ingenieria industrial

#Importar las librerías necesarias
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
#Se lee el archivo train.csv y se le asigna a la variable df
df = pd.read_csv(
    "train.csv",
    engine="python",
    encoding="latin1",     # ← evita UnicodeDecodeError
    on_bad_lines="skip"    # ← evita errores de líneas dañadas
)

df.head()

,ID,PERIODO_ACADEMICO,E_PRGM_ACADEMICO,E_PRGM_DEPARTAMENTO,E_VALORMATRICULAUNIVERSIDAD,E_HORASSEMANATRABAJA,F_ESTRATOVIVIENDA,F_TIENEINTERNET,F_EDUCACIONPADRE,F_TIENELAVADORA,...,E_PRIVADO_LIBERTAD,E_PAGOMATRICULAPROPIO,F_TIENECOMPUTADOR,F_TIENEINTERNET.1,F_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
0,904256,20212,ENFERMERIA,BOGOTÃ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,TÃ©cnica o tecnolÃ³gica incompleta,Si,...,N,No,Si,Si,Postgrado,medio-alto,0.322,0.208,0.310,0.267
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,TÃ©cnica o tecnolÃ³gica completa,Si,...,N,No,Si,No,TÃ©cnica o tecnolÃ³gica incompleta,bajo,0.311,0.215,0.292,0.264
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÃ,Entre 2.5 millones y menos de 4 millones,MÃ¡s de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,...,N,No,No,Si,Secundaria (Bachillerato) completa,bajo,0.297,0.214,0.305,0.264
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.485,0.172,0.252,0.190
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Si,...,N,No,Si,Si,Primaria completa,medio-bajo,0.316,0.232,0.285,0.294

In [43]:
#Observar las columnas y el tamaño del df
df.columns, df.shape

(Index(['ID', 'PERIODO_ACADEMICO', 'E_PRGM_ACADEMICO', 'E_PRGM_DEPARTAMENTO',
        'E_VALORMATRICULAUNIVERSIDAD', 'E_HORASSEMANATRABAJA',
        'F_ESTRATOVIVIENDA', 'F_TIENEINTERNET', 'F_EDUCACIONPADRE',
        'F_TIENELAVADORA', 'F_TIENEAUTOMOVIL', 'E_PRIVADO_LIBERTAD',
        'E_PAGOMATRICULAPROPIO', 'F_TIENECOMPUTADOR', 'F_TIENEINTERNET.1',
        'F_EDUCACIONMADRE', 'RENDIMIENTO_GLOBAL', 'INDICADOR_1', 'INDICADOR_2',
        'INDICADOR_3', 'INDICADOR_4'],
       dtype='object'),
 (1278797, 21))

In [47]:
#Para obtener información general del df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1278797 entries, 0 to 1278796
Data columns (total 21 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   ID                           1278797 non-null  object
 1   PERIODO_ACADEMICO            1278796 non-null  object
 2   E_PRGM_ACADEMICO             1278796 non-null  object
 3   E_PRGM_DEPARTAMENTO          1278796 non-null  object
 4   E_VALORMATRICULAUNIVERSIDAD  1267171 non-null  object
 5   E_HORASSEMANATRABAJA         1221873 non-null  object
 6   F_ESTRATOVIVIENDA            1219499 non-null  object
 7   F_TIENEINTERNET              1229649 non-null  object
 8   F_EDUCACIONPADRE             1236021 non-null  object
 9   F_TIENELAVADORA              1205304 non-null  object
 10  F_TIENEAUTOMOVIL             1198190 non-null  object
 11  E_PRIVADO_LIBERTAD           1278764 non-null  object
 12  E_PAGOMATRICULAPROPIO        1266746 non-null  object
 13  F_TIENECOMPUTADOR            1208414 non-null  object
 14  F_TIENEINTERNET.1            1229617 non-null  object
 15  F_EDUCACIONMADRE             1235095 non-null  object
 16  RENDIMIENTO_GLOBAL           1278736 non-null  object
 17  INDICADOR_1                  1278725 non-null  float64
 18  INDICADOR_2                  1278713 non-null  float64
 19  INDICADOR_3                  1278705 non-null  float64
 20  INDICADOR_4                  1278694 non-null  float64
dtypes: float64(4), object(17)
memory usage: 204.9+ MB

In [49]:
#Para ver el estudio de cada estudiante (ya que el df está compuesto por series)
s1 = df["E_PRGM_ACADEMICO"]
s1

0                                    ENFERMERIA
1                                       DERECHO
2                         MERCADEO Y PUBLICIDAD
3                    ADMINISTRACION DE EMPRESAS
4                                    PSICOLOGIA
                           ...
1278792                                BIOLOGIA
1278793                              PSICOLOGIA
1278794    ADMINISTRACIÃN EN SALUD OCUPACIONAL
1278795                              PSICOLOGIA
1278796                              PSICOLOGIA
Name: E_PRGM_ACADEMICO, Length: 1278797, dtype: object

In [51]:
#Para establecer ID como indice para identificar mejor a los estudiantes
df_change_index = df.copy()
df_change_index.set_index("ID", inplace=True)
df_change_index.E_PRGM_ACADEMICO

ID
904256                              ENFERMERIA
645256                                 DERECHO
308367                   MERCADEO Y PUBLICIDAD
470353              ADMINISTRACION DE EMPRESAS
989032                              PSICOLOGIA
                          ...
25096                                 BIOLOGIA
754213                              PSICOLOGIA
504185    ADMINISTRACIÃN EN SALUD OCUPACIONAL
986620                              PSICOLOGIA
933374                              PSICOLOGIA
Name: E_PRGM_ACADEMICO, Length: 1278797, dtype: object

In [53]:
#Para filtrar por estratos iguales a 2
df_estrato_2 = df[df["F_ESTRATOVIVIENDA"] == "Estrato 2"]
df_estrato_2

,ID,PERIODO_ACADEMICO,E_PRGM_ACADEMICO,E_PRGM_DEPARTAMENTO,E_VALORMATRICULAUNIVERSIDAD,E_HORASSEMANATRABAJA,F_ESTRATOVIVIENDA,F_TIENEINTERNET,F_EDUCACIONPADRE,F_TIENELAVADORA,...,E_PRIVADO_LIBERTAD,E_PAGOMATRICULAPROPIO,F_TIENECOMPUTADOR,F_TIENEINTERNET.1,F_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
6,47159,20183,INGENIERIA MECANICA,HUILA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 2,Si,EducaciÃ³n profesional incompleta,Si,...,N,Si,Si,Si,TÃ©cnica o tecnolÃ³gica completa,alto,0.242,0.299,0.267,0.308
7,11829,20183,ADMINISTRACIÃN EN SALUD OCUPACIONAL,BOGOTÃ,Entre 1 millÃ³n y menos de 2.5 millones,Entre 11 y 20 horas,Estrato 2,Si,Primaria incompleta,Si,...,N,Si,No,Si,Secundaria (Bachillerato) incompleta,medio-bajo,0.238,0.316,0.286,0.290
11,738026,20203,ADMINISTRACIÃN FINANCIERA,BOGOTÃ,Entre 500 mil y menos de 1 millÃ³n,MÃ¡s de 30 horas,Estrato 2,Si,EducaciÃ³n profesional incompleta,Si,...,N,No,Si,Si,Postgrado,medio-bajo,0.212,0.284,0.283,0.324
17,937873,20203,ADMINISTRACIÃN EN SALUD OCUPACIONAL,BOGOTÃ,Entre 1 millÃ³n y menos de 2.5 millones,MÃ¡s de 30 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,No,...,N,No,Si,Si,Secundaria (Bachillerato) incompleta,medio-bajo,0.209,0.307,0.260,0.314
19,65292,20212,PROFESIONAL EN GESTIÃN DE LA SEGURIDAD Y LA S...,BOGOTÃ,Entre 1 millÃ³n y menos de 2.5 millones,Menos de 10 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,Si,...,N,Si,Si,Si,Secundaria (Bachillerato) incompleta,bajo,0.204,0.300,0.293,0.295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278781,314556,20183,LICENCIATURA EN PEDAGOGIA INFANTIL,VALLE,Entre 500 mil y menos de 1 millÃ³n,MÃ¡s de 30 horas,Estrato 2,Si,Primaria completa,Si,...,N,Si,Si,Si,Secundaria (Bachillerato) incompleta,bajo,0.246,0.293,0.278,0.297
1278783,24113,20195,CONTADURIA PUBLICA,CAUCA,Entre 1 millÃ³n y menos de 2.5 millones,Entre 21 y 30 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,No,...,N,Si,Si,Si,EducaciÃ³n profesional completa,bajo,0.218,0.297,0.261,0.325
1278787,403947,20195,PSICOLOGIA,BOLIVAR,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 2,Si,TÃ©cnica o tecnolÃ³gica incompleta,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.236,0.304,0.268,0.305
1278788,157529,20212,LICENCIATURA EN EDUCACION PREESCOLAR,BOYACA,No pagÃ³ matrÃ­cula,Entre 21 y 30 horas,Estrato 2,Si,EducaciÃ³n profesional completa,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,medio-alto,0.224,0.292,0.273,0.320
1278792,25096,20195,BIOLOGIA,LA GUAJIRA,Entre 500 mil y menos de 1 millÃ³n,Entre 11 y 20 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,Si,...,N,Si,Si,Si,Secundaria (Bachillerato) incompleta,medio-alto,0.237,0.271,0.271,0.311

In [54]:
#Mostrar cantidad de registros por el departamento
df.groupby("E_PRGM_DEPARTAMENTO").size()

E_PRGM_DEPARTAMENTO
0                                                2
0.186                                            1
0.21                                             1
0.318                                            1
AMAZONAS                                        75
ANTIOQUIA                                   154417
ANTIOQtrato 2                                    1
ANTIOQy menos de 4 millones                      1
ARAUCA                                        1089
ATLANTICO                                    75833
BOG0.319                                         1
BOGOT7                                           1
BOGOTÃ                                     521272
BOGOTÃecundaria (Bachillerato) completa         1
BOGoras                                          1
BOLIVAR                                      38065
BOYACA                                       25888
CALDAS                                       21466
CAQUETA                                       4918
CASANARE                                      3421
CAUCA                                        21216
CESAR                                        15244
CHOCO                                         7929
CORDOBA                                      22449
CUNDINAMARCA                                 25888
CUNDINAMmpleta                                   1
Entre 11 y 20 horas                              1
Entre 5.5 millones y menos de 7 millones         1
Estrato 1                                        1
Estrato 2                                        3
Estrato 3                                        1
GUAVIARE                                        68
HUILA                                        18417
LA GUAJIRA                                    8801
MAGDALENA                                    17542
META                                         14568
N                                                2
NARIÃO                                      24845
NORTE SANTANDER                              41737
No                                               2
PUTUMAYO                                      1466
QUINDIO                                      15185
QUINDIOcnolÃ³gica completa                       1
RISARALDA                                    23415
SAN ANDRES                                      20
SANTA7                                           1
SANTANDER                                    53152
SUCRE                                        16003
Si                                               7
TOLIMA                                       21987
TÃ©cnica o tecnolÃ³gica completa                 1
VALLE                                        82355
VAUPES                                          26
bajo                                             3
medio-alto                                       1
medio-bajo                                       2
dtype: int64

In [55]:
#También para saber la cantidad de registros por estrato
df.groupby("F_ESTRATOVIVIENDA").size()

F_ESTRATOVIVIENDA
0.138                                        1
0.145                                        1
0.158                                        1
0.2                                          1
0.216                                        1
0.223                                        1
0.239                                        1
0.248                                        1
0.268                                        1
0.27                                         1
0.286                                        2
0.291                                        1
0.296                                        1
0.297                                        1
0.303                                        1
0.312                                        1
0.426                                        1
0.481                                        1
E304                                         1
EducaciÃ³n profesional completa              1
EducaciÃ³n profesional incompleta            2
Es                                           1
Estrato 1                               207116
Estrato 2                               429427
Estrato 3                               388933
Estrato 4                               121006
Estrato 5                                43605
Estrato 6                                23238
N                                            4
No                                          11
Primaria incompleta                          3
Secundaria (Bachillerato) incompleta         2
Si                                          22
Sin Estrato                               6104
bajo                                         1
medio-alto                                   1
medio-bajo                                   2
dtype: int64

In [56]:
#Para contar datos nulos en cada columna
df.isna().sum()

ID                                 0
PERIODO_ACADEMICO                  1
E_PRGM_ACADEMICO                   1
E_PRGM_DEPARTAMENTO                1
E_VALORMATRICULAUNIVERSIDAD    11626
E_HORASSEMANATRABAJA           56924
F_ESTRATOVIVIENDA              59298
F_TIENEINTERNET                49148
F_EDUCACIONPADRE               42776
F_TIENELAVADORA                73493
F_TIENEAUTOMOVIL               80607
E_PRIVADO_LIBERTAD                33
E_PAGOMATRICULAPROPIO          12051
F_TIENECOMPUTADOR              70383
F_TIENEINTERNET.1              49180
F_EDUCACIONMADRE               43702
RENDIMIENTO_GLOBAL                61
INDICADOR_1                       72
INDICADOR_2                       84
INDICADOR_3                       92
INDICADOR_4                      103
dtype: int64